<div class="toolbar">
	<h1 id="pageTitle">
		<%=@location.latitude%>
	</h1>
</div>

<div class="panel" selected="true">

<a class="button right_button" href="<%=url_for(:action => :edit, :id => @location.object)%>" target="_self">Edit</a>

<table class="grid">
  
  <tr>
	<td class="gridleft">Latitude</td>
    <td class="gridright"><%=@location.latitude%></td>
  </tr>
  
  <tr>
	<td class="gridleft">Longitude</td>
    <td class="gridright"><%=@location.longitude%></td>
  </tr>
  
  <tr>
	<td class="gridleft">StreetAddress</td>
    <td class="gridright"><%=@location.street_address%></td>
  </tr>
  
  <tr>
	<td class="gridleft">City</td>
    <td class="gridright"><%=@location.city%></td>
  </tr>
  
  <tr>
	<td class="gridleft">State</td>
    <td class="gridright"><%=@location.state%></td>
  </tr>
  
  <tr>
	<td class="gridleft">ZipCode</td>
    <td class="gridright"><%=@location.zip_code%></td>
  </tr>
  
</table>
</div>